*{
    margin:0;
    padding: 0;
}



/* re use class  */

.button{
 padding:8px 20px;
 background: rgb(17, 26, 56);   
 color:#fff;
 font-weight: 600;
 font-size: 20px;
 border: 0;
 border-radius: 5px;

}



/*-----------heading-------------*/
.heading{
    color:rgb(13, 31, 74);
    text-align: center;
    margin: 30px 0;
    font-size: 60px;
}



/*------icon------*/
.icon-img{
    width: 40px;
}


/*-----calculation part design hear--------*/
.calc-hading{
    margin:30px;
}

.expenses-heading{
    margin:30px 0 20px 0;
}

.calculat{
    background: rgb(239, 239, 241);
    text-align: center;
    margin: 0 auto;
}

.input-name{
    text-align: center;
    display: inline;
    font-size: 22px;
    font-weight: 400;
}

input{
    border:none;
    outline:0;
    padding:5px;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 5px;
}

input:focus{
    outline:2px solid gray;
}

.expenses label{
    margin:20px;
    display: block;
    text-align: center;
}
/*-------- end css----------*/